@CHARSET "ISO-8859-1";

body {
	
	text-align: center;
	background-repeat: round;
}

#header {
	font-size:20px;
	
	vertical-align: middle;
}

h3 {
	font-family: cursive;
	font-style: italic;
}

#change {
	font-style: italic;
	font-size: 15px;
	font-color: blue;
}

.ui-widget-content {
	border-color: grey;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-color: grey;
}
.ui-grid-row{
	align-items:baseline;
}
.btn-op {
	vertical-align: middle;
	border-color: red;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	max-height: 40px;
	min-height: 39px;
	max-width: 100px;
	min-width: 99px;
}

.btn-numb {
	vertical-align: middle;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	max-height: 40px;
	min-height: 39px;
	max-width: 100px;
	min-width: 99px;
}

.btn-op-equal {
	vertical-align: middle;
	border-color: blue;
		background-color:blue;
	
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	max-height: 40px;
	min-height: 39px;
	max-width: 100px;
	min-width: 99px;
}
.btn-CCE{
	font-size:12px;
	min-height: 39px;
	min-width: 69px; 
}
.btn-sctf{
	font-size:12px;
	min-height: 36px;
	min-width: 92px;
	
}