@CHARSET "ISO-8859-1";

body {
	
	text-align: center;
	background-repeat: round;
}

#header {
	
	height: 100px;
	
	font-size:20px;
	padding-bottom: 5px;
	
}
#titulo{
	margin-top:5px;
	font-family: Arial,sans-serif;
	font-style: italic;
	font-weight: bold;
}


#change {
	font-style: italic;
	font-size: 15px;
	font-color: blue;
	padding-bottom: 10px;
}

.ui-widget-content {
	border-color: grey;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-color: grey;
}
.ui-grid-row{
	align-items:baseline;
}
.btn-op {
	vertical-align: middle;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	max-height: 40px;
	min-height: 39px;
	max-width: 100px;
	min-width: 99px;
}

.btn-numb {
	vertical-align: middle;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	max-height: 40px;
	min-height: 39px;
	max-width: 100px;
	min-width: 99px;
}

.btn-op-equal {
	background-color:#9d9d9d;
	vertical-align: middle;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	max-height: 40px;
	min-height: 39px;
	max-width: 100px;
	min-width: 99px;
}
.btn-CCE{
	font-size:12px;
	min-height: 39px;
	min-width: 69px; 
}
.btn-sctf{
	
	font-size:11px;
	max-height: 37px;
	min-height:36px;
	max-width: 100px;
	min-width: 99px;
}

.table{
	padding-left: 20%;
	width:250px;	
}
.left-col{
	
	text-align: left;
}